[user]
    name = John Doe
    email = john@doe.com
    
[color]
    ui = auto
[alias]
    ignore = "!gi() { ;}; gi"
    conflicts = "!conflicts() { git diff --name-only --diff-filter=U ;}; conflicts"
[push]
    default = matching
