[submodule "home/user/.vim/bundle/nerdtree"]
	path = home/user/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/user/.vim/bundle/vim-colors-solarized"]
	path = home/user/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/user/.vim/bundle/vim-fugitive"]
	path = home/user/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/user/.vim/bundle/django.vim"]
	path = home/user/.vim/bundle/django.vim
	url = git@github.com:vim-scripts/django.vim.git
[submodule "home/user/.vim/bundle/vim-javascript"]
	path = home/user/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "home/user/.vim/bundle/vim-css3-syntax"]
	path = home/user/.vim/bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule "home/user/.vim/bundle/vim-airline"]
	path = home/user/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
